<div class="composers-section">
  <ng-container *ngIf="data.composers && data.composers.length> 0; else noComposers">
    <div class="image-grid">
      <div *ngFor="let row of data.composers" class="grid-item" (click)="onClick(row)">
        <div class="image-container">
          <img [src]="row.portrait" alt="Item Image" class="grid-image">
          <div class="overlay" *ngIf="row.expanded">
            <h3>{{ row.complete_name }}</h3>
            <p>{{ row.birth.replaceAll('-','/') }} - {{row.death.replaceAll('-','/')}}</p>
            <p>{{ row.epoch }}</p>
          </div>
        </div>
        <p (click)="onClick(row)">{{ row.name }}</p>
      </div>
    </div>
  </ng-container>
  <ng-template #noComposers>
    <p>No hi ha compositors disponibles amb la lletra {{letter}}.</p>
  </ng-template>
</div>


<!--
<div *ngIf="selectedRow" class="details">
<h3>{{ selectedRow.name }} - Details</h3>
<p>{{ selectedRow.details }}</p>
</div>
-->






<!-- Aixo primera vista per debuggar, mostra taula amb totes les dades
<h1>COMPOSITORS AMB LA LLETRA {{ letter }}</h1>
<div *ngIf="data">
  <table>
    <thead>
      <tr>
        <th scope="col">
          ID
        </th>
        <th scope="col">
          NAME
        </th>
        <th scope="col">
          Complete Name
        </th>
        <th scope="col">
          Birth
        </th>
        <th scope="col">
          Death
        </th>
        <th scope="col">
          Epoch
        </th>
        <th scope="col">
          Portrait
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let composer of data.composers">
      <tr>
        <td scope="row">{{composer.id}}</td>
        <td>{{composer.name}}</td>
        <td>{{composer.complete_name}}</td>
        <td>{{composer.birth}}</td>
        <td>{{composer.death}}</td>
        <td>{{composer.epoch}}</td>
        <td>
            <img [src]="composer.portrait" style="width: 200px;" alt="composer.complete_name">
        </td>
      </tr>

    </tbody>
  </table>
</div>
-->