<div class="image-grid">
    <div *ngFor="let row of data.composers" class="grid-item" (click)="onClick(row)">
        <div class="image-container">
            <img [src]="row.portrait" alt="Item Image" class="grid-image">
            <div class="overlay" *ngIf="row.expanded">
                <p>{{ row.complete_name }}</p>
                <p>{{ row.birth }} -- {{row.death}}</p>
                <p>{{ row.epoch }}</p>
            </div>
        </div>
        <p>{{ row.name }}</p>
    </div>
</div>  
<!--
<div *ngIf="selectedRow" class="details">
<h3>{{ selectedRow.name }} - Details</h3>
<p>{{ selectedRow.details }}</p>
</div>
-->






<!--
<h1>COMPOSITORS AMB LA LLETRA {{ letter }}</h1>
<div *ngIf="data">
  <table>
    <thead>
      <tr>
        <th scope="col">
          ID
        </th>
        <th scope="col">
          NAME
        </th>
        <th scope="col">
          Complete Name
        </th>
        <th scope="col">
          Birth
        </th>
        <th scope="col">
          Death
        </th>
        <th scope="col">
          Epoch
        </th>
        <th scope="col">
          Portrait
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let composer of data.composers">
      <tr>
        <td scope="row">{{composer.id}}</td>
        <td>{{composer.name}}</td>
        <td>{{composer.complete_name}}</td>
        <td>{{composer.birth}}</td>
        <td>{{composer.death}}</td>
        <td>{{composer.epoch}}</td>
        <td>
            <img [src]="composer.portrait" style="width: 200px;" alt="composer.complete_name">
        </td>
      </tr>

    </tbody>
  </table>
</div>
-->