@media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
  

.alphabet-menu {
  display: flex;
  justify-content: center;
  background-color: #333; /* Background color of the menu */
  padding: 10px;
}

.letter {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  margin: 0 10px;
}

.letter a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.letter a:hover {
  color: #ffd700; /* Change color on hover, you can adjust to your desired hover color */
}